<ion-view view-title="Add Beer">
  <ion-content class="padding">
	<div class="list">
	  <label class="item item-input">
	    <input type="text" placeholder="Manufacturer" ng-model="beer.manufacturer">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Beer title" ng-model="beer.title">
	  </label>
	  <label class="item item-input">
	    <textarea placeholder="Description" ng-model="beer.description"></textarea>
	  </label>
	  <button class="button button-block button-positive" ng-click="addBeer()">
	  	Submit
	</button>
	</div>
  </ion-content>
</ion-view>