<ion-view view-title="Account">
	<ion-content>
		<ion-list>
		<div class="list list-inset">
			<button ng-hide="isLoggedOn()" ng-click="showPopup('templates/tab-accounts-login-popup.html', 'Login')" class="button button-block button-positive">
			 	Login
			</button>	
		<div class="list list-inset">
			<button ng-show="isLoggedOn()" ng-click="logout()" class="button button-block button-positive">
			 	Logout
			</button>
		</br>
			<button ng-hide="isLoggedOn()" ng-click="showPopup('templates/tab-accounts-register-popup.html', 'Register')" class="button button-block button-light">
			 	Register
			</button>
		</div>
		</ion-list>
	</ion-content>
</ion-view>
