<div class="list list-inset">
	<label class="item item-input">
		<input type="text" placeholder="First Name" ng-model="data.first">
	</label>
	</br>
	<label class="item item-input">
		<input type="text" placeholder="Last Name" ng-model="data.last">
	</label>
	</br>
	<label class="item item-input">
		<input type="email" placeholder="Email address" ng-model="data.email">
	</label>
	</br>
	<label class="item item-input">
		<input type="password" placeholder="Password" ng-model="data.password">
	</label>
</div>